@import "alerts";
@import "tabs";

p {
  text-align: justify;
  text-justify: inter-word;
}

table.lntable {
  code {
    border-radius: 0 !important;
  }
  td.lntd:first-child {
    position: sticky;
    left: 0;
    background-color: var(--theme);
    z-index: 1;
  }
}

table:not(.lntable) {
  display: block;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;

  div.fixed-table + & {
    th:first-child,
    td:first-child {
      position: sticky;
      left: 0;
      background-color: var(--theme);
      z-index: 1;
    }
  }
}
